div(ng-controller="DevicesController")
    div.alert(ng-show="!devices.length && !loading") No devices available
    div.alert.alert-info(ng-show="!devices.length && loading") Searching for devices...
    div.alert.alert-error(ng-show="error") Error: {{ error }}
    ul.devices-list
        device(ng-repeat="device in devices", info="device")
